<div class="house-section container">    
    <h1>Actividades cercanas</h1>
    <div class="row">
        <div class="img-small col-md-4">
            <img src="{{ asset('/assets/img/castillo-de-coca.jpg') }}" alt="" />
        </div>
        <div class="img-small col-md-4">
            <img src="{{ asset('/assets/img/casa-rural-don-alonso-cochinillo.jpg') }}" alt="" />
        </div>
        <div class="img-small col-md-4">
            <img src="{{ asset('/assets/img/castillo-2.jpg') }}" alt="" />
        </div>
    </div>
    <div class="house-info row">
        <div class="col-md-12 text-center">
            Disfruten de las múltiples actividades cercanas pero, sobre todo, no olviden <strong>disfrutar de la compañía</strong>.<br/>
            Se puede encargar asado de cordero y cochinillo.
        </div>
    </div>
</div>