.logo {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    padding: 5px;
}

.header-desktop {
    background-color: rgb(0, 41, 4) ;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.background {
    background: url("../img/flower-background-casa-rural-don-alonso.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 550px;
    width: 100%;
    position: absolute;
    top: 40;
    left: 0;
    z-index: -1;
}

.section-separator {
    position: absolute;
    top: 550px;
    z-index: 2;
    width: 100%;
    border-bottom: 4px solid rgb(0, 41, 4);
    margin-bottom: 20px;
}

.house-info-container {
    position: relative;
    top: 80px;
}

.slogan {
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-size: x-large;
    padding: 20px;
    background-color: rgb(0,0,0,0.6);
    width: 100%;
}

.booking-form-container {
    height: 490px;
    padding: 175px 100px 150px 100px;
}

.booking-btn {
    text-transform: uppercase;
    font-weight: bold;
    height: 100%;
}

.booking-form-section {
    float: left;
    padding: 0px 1px 0px 1px;
}

.booking-form {
    background-color: rgba(0, 0, 0, 0.6);
    height: 87px;
    padding: 5px;
}

.has-error {
    border: 2px solid red;
}

.error-popup {
    border: 1px solid black;
    background-color: rgb(252, 245, 145);
    font-size: small;
    padding: 5px;
}

.invisible {
    visibility: hidden;
}


.house-section {
    margin-top: 20px;
    position: relative;
}

.house-section > h1 {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}

.img-small > img {
    width: 100%;
    margin-bottom: 5px;
}

.img-medium > img {
    width: 100%;
    margin-bottom: 5px;
}

.img-container {
    margin-bottom: 10px;
}

.house-info {
    margin: 20px;
}

.logo > a {
    text-decoration: none;
    color: white;
}

.menu-container > .row {
    padding: 0;
}

.menu-item {
    width: 100%;
    height: 40px;
    color: white;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    padding: 10px;
}

.menu-item:hover {
    background-color: #116519;
    cursor: pointer;
}

a.anchor {
    display: block;
    position: relative;
    top: -45px;
    visibility: hidden;
}
