.logo {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}

.header-desktop {
    background-image: linear-gradient(rgb(0, 41, 4, 1),rgb(0, 41, 4, 0)) ;
    width: 100%;
    height: 60px;
    padding: 20px;
}

.background {
    background: url("../img/flower-background-casa-rural-don-alonso.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 550px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.section-separator {
    position: absolute;
    top: 546px;
    z-index: 2;
    width: 100%;
    border-bottom: 4px solid rgb(0, 41, 4);
    margin-bottom: 20px;
}

.booking-form-container {
    height: 490px;
    padding: 150px 100px 150px 100px;
}

.booking-btn {
    text-transform: uppercase;
    font-weight: bold;
    height: 100%;
}

.booking-form-section {
    float: left;
    padding: 0px 1px 0px 1px;
}

.booking-form {
    background-color: black;
    height: 87px;
    width: 100%;
    padding: 5px;
}

.has-error {
    border: 2px solid red;
}

.error-popup {
    border: 1px solid black;
    background-color: rgb(252, 245, 145);
    font-size: small;
    padding: 5px;
}

.invisible {
    visibility: hidden;
}


.house-section {
    margin-top: 20px;
}

.house-section > h1 {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}

.img-small > img {
    width: 100%;
    margin-bottom: 5px;
}

.img-medium > img {
    width: 100%;
    margin-bottom: 5px;
}

.img-container {
    margin-bottom: 10px;
}

.house-info {
    margin: 20px;
}

