<div class="container header-container">
    <div class="row">
        <div class="col-md-4 logo">
            <a href="#top">Casa Rural Don Alonso</a>
        </div>
        <div class="col-md-8 menu-desktop">
            <div class="container menu-container">
                <div class="row">
                    <div class="col-md-3 menu-item text-center"
                         onclick="window.location='#about'">
                        Sobre la casa
                    </div>
                    <div class="col-md-3 menu-item text-center"
                         onclick="window.location='#bedrooms'">
                        Dormitorios
                    </div>
                    <div class="col-md-3 menu-item text-center"
                         onclick="window.location='#activities'">
                        Actividades
                    </div>
                    <div class="col-md-3 menu-item text-center"
                         onclick="window.location='#location'">
                        Ubicación
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>