{% extends "base.html.twig" %}
{% block title %}
    Casa Rural Don Alonso
{% endblock %}

{% block styles %}
    {{ parent() }}
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"
    />
    <link
        rel="stylesheet"
        href="{{ asset('/assets/css/slide.css') }}"
    />
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"
    >
    </script>

    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'dd-mm-yyyy'
            }).on('changeDate', function(e){
                $(this).datepicker('hide');
                var fromS = $('#booking_fromDate').val().split('-');
                var toS = $('#booking_toDate').val().split('-');
                var fromDate = fromS.length === 3 
                             ? new Date(fromS[2], fromS[1] - 1, fromS[0])
                             : null;
                var toDate = toS.length === 3
                            ? toS && new Date(toS[2], toS[1] - 1, toS[0])
                            : null;

                var popup = $('.error-popup').first();
                var datesAreFilled = fromDate !== null && toDate !== null;
                var invalidDates = toDate <= fromDate;
                if (datesAreFilled && invalidDates) {
                    $('.js-datepicker').addClass('has-error');
                    popup.html('La fecha de salida debe ser posterior a la de entrada');
                    var ref = $('#booking_toDate');
                    var refWidth = ref.width();
                    var popper = new Popper(ref, popup, {
                        placement: 'bottom'
                    });
                    popup.width(refWidth + 20);
                    popup.removeClass('invisible');
                } else {
                    popup.addClass('invisible');
                    $('.js-datepicker').removeClass('has-error');
                    popup.html('');
                }
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="header-desktop">
        {% include 'common/header.html.twig' %}
    </div>

    {% if saved == true %}
        <script>
            Swal.fire({
                title: 'Solicitud de reserva realizada',
                text: 'Hemos recibido su solicitud. En breve nos pondremos en contacto con usted para completar el proceso de reserva.',
                type: 'success',
                confirmButtonText: '¡De acuerdo!'   
            }).then(() => {
                window.location = "{{ path('index') }}";
            });
        </script>
    {% endif %}

    <div class="background"></div>
    <div class="container booking-form-container">
        {% include 'forms/booking-form.html.twig' with {'form': form} %}
        <div class='error-popup invisible'></div>
    </div>
    <div class="section-separator"></div>
    <div class="house-info-container container">
        <a name="about" class="anchor"></a>
        {% include 'index-sections/about.html.twig' %}

        <a name="bedrooms" class="anchor"></a>
        {% include 'index-sections/bedrooms.html.twig' %}

        <a name="activities" class="anchor"></a>
        {% include 'index-sections/activities.html.twig' %}
        
        <a name="location" class="anchor"></a>
        {% include 'index-sections/location.html.twig' %}
    </div>
    <div class="footer-desktop">
        {% include 'common/footer.html.twig' %}
    </div>
{% endblock %}