{% extends "base.html.twig" %}
{% block title %}
    Casa de Don Alonso
{% endblock %}

{% block styles %}
    {{ parent() }}
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"
    />
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"
    >
    </script>

    <script>
        $(document).ready(function() {
            $('.js-datepicker').datepicker({
                format: 'dd-mm-yyyy'
            }).on('changeDate', function(e){
                $(this).datepicker('hide');
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="header-desktop">
        {% include 'common/header.html.twig' %}
    </div>
    <div class="container booking-form-container">
        {% include 'forms/booking-form.html.twig' with {'form': form} %}
    </div>
    <div class="background"></div>
    <div class="section-separator"></div>
    
    <div class="content">
    </div>
{% endblock %}